@font-face {
    font-family: "Klavika Bd";
    src: local("Klavika Bd"),
      url("klavika-bold.otf") format("OpenType");
  }

h1{
    font-family: Klavika Bd;
    color: aliceblue;
    text-shadow: 2px 2px 50px rgb(26, 26, 255)
  }


