

body {
  display: flex;
  flex-direction: column;
  height: 95vh;


  font-family: -apple-system, BlinkMacSystemFont,  'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(to right, rgba(7,27,82,1)0% ,rgba(0,128,128,1)100%);
}
main{flex: 1;}

footer{
  font-family: monospace;
  justify-content:center;
  font-size: small;
  color: lightgray;
  text-align: center;
}
